.stub_message {
    max-width: 30vw;
    min-width: 25vw;
    height: max-content;
    padding: 0.6rem 0.8rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 1em
}

@media screen and (max-width: 1200px) {
    .stub_message {
        max-width: 35vw;
        min-width: 30vw;
    }
}
@media screen and (max-width: 1000px) {
    .stub_message {
        max-width: 45vw;
        min-width: 40vw;
    }
}
@media screen and (max-width: 800px) {
    .stub_message {
        max-width: 65vw;
        min-width: 60vw;
    }
}
@media screen and (max-width: 450px) {
    .stub_message {
        max-width: 75vw;
        min-width: 70vw;
    }
}

.stub_text {
    margin: 0;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    flex-wrap: wrap;
    line-height: 1.6;
    color: #e0e7ff;
}

.stub_timestamp {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    align-self: flex-end;
    font-size: 0.7em;
    text-align: center;
    color: white;
}
