.stub_message {
    max-width: 30vw;
    min-width: 15vw;
    height: max-content;
    padding: 0.6rem 0.8rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 1em
}


.stub_text {
    margin: 0;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    flex-wrap: wrap;
    line-height: 1.6;
    color: #e0e7ff;
}

.stub_timestamp {
    margin: 0;
    margin-top: 1em;
    align-self: flex-end;
    transform: translateX(0.5em);
    font-size: 0.7em;
    text-align: center;
    color: white;
}
