.main_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_screen {
  display: flex;
  flex-direction: column;
}

.login_text {
  color: var(--background-primary);
  font-size: 3em;
  text-align: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_input {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  height: 2em;
  border-radius: 10px;
  font-size: 2em;
  background-color: #DDDDFC;
}

.login_input:focus {
  outline: none;
}

.login_button {
  background-color: transparent;
  margin-top: 2em;
  border: solid 2px var(--background-primary);
  cursor: pointer;
  width: 70%;
  height: 2.5em;
  border-radius: 10px;
  color: var(--background-primary);
  font-size: 1.4em;
}

.login_button:hover,
.login_button:active {
  background-color: var(--background-primary);
  border: solid 2px var(--dark-primary);
  color: var(--dark-primary);
}

.login_button:focus {
  outline: none;
}
